.custom-two-equal-columns {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "col_1 col_2";
}

.custom-two-equal-columns-column-1 {
  grid-area: col_1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.custom-two-equal-columns-column-2 {
  grid-area: col_2;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .custom-two-equal-columns {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
  }

  .custom-two-equal-column-1 {
    flex-flow: column wrap;
    width: 100%;
  }
  .custom-two-equal-column-2 {
    flex-flow: column wrap;
    width: 100%;
  }
}
