:root {
  --primary: #811e5a;
  --secondary: #f7941d;
  --light: #ebac6c;
  --dark: #331513;
  --white: #ffffff;
  --alternate: #29a9df;
}

.custom-pre-header {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
}

.custom-section-header {
  font-size: 24px;
  font-weight: 700;
  color: var(--dark);
}

.custom-section-intro {
  padding: 20px 50px;
}

.custom-section-intro-text {
  font-size: 16px;
  width: 70%;
}

.custom-body-list {
  list-style: none;
  width: 100%;
}

.custom-body-list-item {
  font-size: 16px;
}

.custom-body-list-item span {
  font-weight: 700;
}
